@import 'themesAndFonts';

.blocks {
  display: grid !important;
  margin: 2% 0%;
  @include themify($themes) {
    background-color: themed('anotherBackgroundColor');
    &-bookmarks {
      border: 1px solid themed('textColor');
      background-color: themed('anotherBackgroundColor');
      border-radius: 2px;
      text-align: center;
      &-cols {
        background-color: themed('backgroundColor');
        border: 1px solid themed('textColor');
        border-radius: 2px;
        margin: 1% 1%;
        color: themed('textColor');
      }
    }
    .text {
      color: themed('hoverColor');
    }
    .column-drag-handle {
      color: themed('textColor');
      float: left;
      padding: 5px 0 0 9px;
      cursor: move;
    }
    .change {
      color: themed('textColor');
      float: left;
      padding: 5px 0 0 5px;
      cursor: pointer;
    }
    .remove {
      color: themed('textColor');
      float: left;
      padding: 5px 0 0 5px;
      cursor: pointer;
    }
    .link {
      padding: 5px 0 0 5px;
    }
  }
}
