@import 'themesAndFonts';

.settings-modal {
  position: absolute;
  opacity: 1;
  z-index: 9999;
  font-size: 18px;
  font-weight: normal;
  height: 400px;
  width: 600px;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -200px;
  border-radius: 4px;
  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('textColor');
    & .tab-container {
      font-size: 1rem;
    }
    & .closeIcon {
      position: absolute;
      right: 15px;
      top: 10px;
    }
    & .tab-row {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 0.2rem;
      grid-area: buttons;
      margin: 30px 40px;
      text-align: center;
    }
    & .tablink {
      cursor: pointer;
      border-radius: 3px;
      margin: 0px 10px;
      padding: 5px 20px;
      background-color: themed('anotherBackgroundColor');
      color: themed('textColor');
    }
    .active {
      background-color: themed('anotherColor');
      color: themed('backgroundColor');
    }
    & .tab-container-body {
      padding: 0px 40px;
    }
    & .tab-container-body .font,
    .theme {
      display: grid;
      grid-auto-flow: column;
      gap: 0.2rem;
      margin: 0px 30px;
      height: 30px;
      text-align: left;
      grid-template-columns: 255px 200px 0px;
    }
    .bookmarks {
      display: grid;
      grid-auto-flow: column;
      gap: 0.2rem;
      margin: 0px 30px;
      height: 30px;
      text-align: left;
      grid-template-columns: 255px 110px 0px;
    }
    & .tab-container-body .size {
      display: grid;
      grid-auto-flow: column;
      gap: 0.2rem;
      margin: 0px 30px;
      height: 30px;
      text-align: left;
      grid-template-columns: 255px 50px 0px;
    }
    & .tab-container-body .button {
      margin: 20px 15px;
      padding: 0px;
      background-color: themed('anotherBackgroundColor');
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
    }
    & .tab-container-body select,
    & .tab-container-body input {
      font-size: 1rem;
      height: 25px;
      margin: 15px;
      color: themed('textColor');
      background-color: themed('backgroundColor');
      border-radius: 2px;
      border: 1px solid themed('textColor');
      outline-color: themed('hoverColor');
      outline: none;
      box-shadow: none;
      &:focus {
        border: 1px solid themed('hoverColor');
      }
      // select option:hover {
      //   background: linear-gradient(#000000, #000000);
      //   background-color: #000000 !important;
      //   color: #ffed00 !important;
      // }
    }
  }
}
