/*
 * Theme definitions
 */
$themes: (
  gruvbox-dark: (
    backgroundColor: #282828,
    textColor: #aca185,
    hoverColor: #b8bb26,
    anotherColor: #d79921,
    anotherBackgroundColor: #242424,
  ),
  gruvbox-light: (
    backgroundColor: #fbf1c7,
    textColor: #3c3836,
    hoverColor: #98971a,
    anotherColor: #d79921,
    anotherBackgroundColor: #e1d8b2,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
